@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-dark: #0F172A;
  --color-light: #F8FAFC;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans antialiased;
  }
}